body {
    background: grey;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

.assignment {
    background: lightgrey
    display: flex;
    margin: 10px;
    padding: 10px;
}

.assignment img {
    width:200px;
    padding: 10px;
}

h1{
    color:whitesmoke;
    text-align:center;
}